<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>DP Hand Made</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

  <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
    integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"
    crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&amp;display=swap"
    rel="stylesheet">
</head>

<body style="font-family: 'Poppins',sans-serif; ">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>



  <div class="m-6">
    <nav class="navbar navbar-expand-lg navbar-expand-sm navbar-expand">
      <div class="container-fluid">
        <a href="/" class="navbar-brand">
          <img src='https://i.postimg.cc/gL2FM8q4/LOGO-CREATE-BY-PRADEEP.png' height="60" width="70" alt='DP-logo' />
        </a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav navbar-right ms-auto">
            <% if(session.user) { %>
              <a href="/logout" class="nav-item nav-link">Logout</a>
              <a href="/customer/order" class="nav-item nav-link">My Orders</a>
              <% } else { %>
                <a href="/signup" class="nav-item nav-link">Sign Up</a>
                <a href="/login" class="nav-item nav-link">Login</a>
                <% } %>
                  <a href="/cart" class="nav-item nav-link">
                    <span>Cart</span>
                    <span id="cartCounter" style="top: -5px; right: -2px; position: relative;"> <%= session.cart ? session.cart.totalQty :''%></span>
                  </a>
          </div>
        </div>
      </div>
    </nav>
  </div>

  
  <section>  
    <div class="container py-5">
      <div class="row">
        <% products.forEach(function(products){ %>
          <div class="col-md-12 col-lg-4 mb-4">
            <div>
              <div class="d-flex justify-content-between p-3">
                <p class="lead mb-0"></p>
                <div class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong"
                  style="width: 35px; height: 35px;">
                  <p class="text-white mb-0 small">x1</p>
                </div>
              </div>
              <a href="/product/<%= products.id %>"><img src="<%= products.FrontImage %>" class="card-img-top"
                  alt="Laptop" /></a>

              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <p class="small"><a href="/product/<%= products.id %>" class="text-muted">
                      <%= products.ProductHeading %>
                    </a></p>
                </div>
                <div class="d-flex justify-content-between mb-3">
                  <h5 class="mb-0">
                    <%= products.ProductName %>
                  </h5>
                  <h5 class="text-dark mb-0">
                    &#8377;<%=products.Price %>
                  </h5>
                </div>

                <div class="d-flex justify-content-between mb-2">
                  <button data-products="<%= JSON.stringify(products)%>" class="add-to-cart">
                    <span>ADD</span>
                  </button>
                  <div class="ms-auto text-warning">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } )%>
      </div>
    </div>
  </section>

  <div class="small-container" style="font-size: 1rem;">

    <div class="row" style="margin: 20px;">
      <div class="col-lg-3 card-body">
        <div class="row">
          <div class="col-lg-2" style="margin: auto;">
            <img src="//cdn.shopify.com/s/files/1/0248/2333/2927/files/icon_handmade.jpg?v=1575543606"
              data-src="//cdn.shopify.com/s/files/1/0248/2333/2927/files/icon_handmade.jpg?v=1575543606"
              class=" lazyloaded" alt="">
          </div>
          <div class="col-lg-10">
            <div>
              <h5>
                HANDCRAFTED PERFECTION
              </h5>
            </div>
            <div>
              All Our Products are handcrafted with love and perfection.
            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-3 card-body">
        <div class="row">
          <div class="col-lg-2" style="margin: auto;">
            <img src="//cdn.shopify.com/s/files/1/0248/2333/2927/files/ic4.png?v=1575544143"
              data-src="//cdn.shopify.com/s/files/1/0248/2333/2927/files/ic4.png?v=1575544143" class=" lazyloaded"
              alt="">
          </div>
          <div class="col-lg-10">
            <div>
              <h5>
                24/7 SUPPORT ONLINE
              </h5>
            </div>
            <div>
              Our Customer Support Team is available all the time to answer all the queries. For us, each query is a
              special request and not just another ticket.
            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-3 card-body">
        <div class="row">
          <div class="col-lg-2" style="margin: auto;">
            <img src="//cdn.shopify.com/s/files/1/0248/2333/2927/files/ic3.png?v=1575544249"
              data-src="//cdn.shopify.com/s/files/1/0248/2333/2927/files/ic3.png?v=1575544249" class=" lazyloaded"
              alt="">
          </div>
          <div class="col-lg-10">
            <div>
              <h5>
                200,000+ Happy Customers
              </h5>
            </div>
            <div>
              This is all because of the Love and Vote of confidence we get from our lovely people around the globe. We
              are working 24 x 7 x 365 to make more people be a part of this huge family.
            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-3 card-body">
        <div class="row">
          <div class="col-lg-2" style="margin: auto;">
            <img src="//cdn.shopify.com/s/files/1/0248/2333/2927/files/ic1_1.png?v=1575544339"
              data-src="//cdn.shopify.com/s/files/1/0248/2333/2927/files/ic1_1.png?v=1575544339" class=" lazyloaded"
              alt="">
          </div>
          <div class="col-lg-10">
            <div>
              <h5>
                Authenticity Assured
              </h5>
            </div>
            <div>
              Each and Every product goes through a 3-step quality check process before dispatching. All the details
              mentioned in this product page will be fulfilled in your product as it is </div>
          </div>
        </div>

      </div>



    </div>


  </div>

  <footer class="text-center text-lg-start text-muted">
    <!-- Section: Social media -->
    <section class="">
      <div class="container text-center text-md-start mt-5">

        <div class="row mt-3">

          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>DP Hand Made
            </h6>
            <p>
              We do make sure that every customer gets a Great Buying Experience with DP Hand Made. A
              Great Buying
              Experience comes with Great Customer Support. Our Customer Support Team is available all the
              time to
              answer all the queries. For us, each query is a special request and not just another ticket
            </p>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Customer Services
            </h6>
            <p>
              <a href="/shipping-policy" class="text-reset">Shipping Policy</a>
            </p>
            <p>
              <a href="/privacy-policy" class="text-reset">Privacy Policy</a>
            </p>
            <p>
              <a href="/terms" class="text-reset">Term Of Services</a>
            </p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
            <p><i class="fas fa-home me-3"></i>1517 Indra Colony Pratap Nagar Jodhpur,Rajasthan</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              dphandmade2022@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i> +91 8003093966</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2022
      <a class="text-reset fw-bold" href="/">DP Hand Made</a>
    </div>
    <!-- Copyright -->
  </footer>

  <script src="/static/home.js"></script>
</body>


</html>